.accent, .accent a {
    background-color: var(--sexviolet-color) !important;
    color: var(--primary-color) !important;
    border-radius: 8px !important;
    text-transform: none !important;
}

.accent:hover {
    background-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.accent:hover a {
    background-color: var(--primary-color) !important;
    color: var(--sexviolet-color) !important;CenteringBox;
}