@import '../constants.css';
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');


.hack2024-hint-text-page {
    color: var(--lightgrey-color) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    
}

@media screen and (max-width: 320px) {
    /* Стили для очень маленьких экранов */
    .hack2024-hint-text-page {
    
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    /* Стили для небольших экранов */
    .hack2024-hint-text-page {
    
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Стили для планшетов */
    .hack2024-hint-text-page  {
    
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Стили для больших планшетов */
    .hack2024-hint-text-page  {
    
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Стили для стандартного разрешения монитора */
    .hack2024-hint-text-page  {
    
    }
}

@media screen and (min-width: 1441px) {
    /* Стили для ультрашироких экранов */
    .hack2024-hint-text-page  {
    
    }
}