.header {
    box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.233);
    background-color: #ffffff;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 40px;
   
    z-index: 999 !important;
}

.header__logo img {
    width: 160px;
    height: 60px;
}

.header__nav {
    display: flex;
    gap: 30px;
}

.header__nav--item {
    font-size: 18px !important;
    color: var(--harddark-color);
    text-decoration: none !important;
}

.header__burger {
    display: none !important;
}

@media (max-width: 620px) {
    .header__nav {
        display: none;
    }

    .header__burger {
        display: block !important;
    }

    .header__logo {
        display: none;
    }
}